body 

{
    background: url('../img/background-login.jpg');
    background-size: cover;
}

.main-section 
{
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}

.modal-content 
{
    background-color: #434e5a;
    opacity: .8;
    padding: 0 18px;
    border-radius: 10px;
}

.user-img img 
{
    height:100px ;
    width: 100px;
}

.user-img{
    margin-top: -60px;
    margin-bottom: 45px;

}
.form-group 
{
    margin-bottom: 25px;
}

.form-group input 
{
    height: 42px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    letter-spacing: 2px;

}
